@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbf7ed;
  max-width: 1600px;
  margin: auto;
}
:root {
  font-size: 16px;
  --primary-color: #004c3f;
  --bg-color: #008060;
  --main-font: "Rubik", sans-serif;
  --sec-font: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  width: 4rem;
  height: 4rem;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

header li {
  margin: 0 0.2rem;
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  border-radius: 1rem;
  padding: 0.2rem 0.7rem;
}

header li a:hover {
  color: white;
  background-color: var(--bg-color);
  box-shadow: 0.1rem 0.1rem 0.3rem gray;
}

.ham-menu {
  display: none;
}

#about {
  max-width: 1600px;
  display: flex;
  flex-direction: row;
}

#about div {
  width: 50%;
  height: 569px;
}
.name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name {
  color: var(--primary-color);
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}
.description {
  font-family: "Rubik", sans-serif;
  color: var(--primary-color);
  margin-left: 15rem;
  margin-top: 0.2rem;
  font-size: 2rem;
  z-index: 2;
}
img {
  width: 100%;
  height: 100%;
}
#work {
  height: 569px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#work-img {
  width: 70%;
  height: 569px;
}
.projects {
  width: 50%;
  height: 569px;
}
.projects ul {
  list-style-type: none;
  margin-top: 60px;
}
.projects li {
  font-size: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  box-shadow: 3px 3px 3px gray;
  width: 60%;
  margin-top: 10px;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.projects li img {
  width: 25px;
  cursor: pointer;
}
#contact {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.icons img {
  margin: 0.01rem 1.5rem;
  width: 5rem;
  height: 5rem;
}

#social-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#contact h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-family: "Ubuntu";
  margin-bottom: 4rem;
}

footer {
  background-color: var(--bg-color);
  width: 80%;
  margin: 5px auto;
  border-radius: 1rem;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  color: white;
}
